In [1]:
new_list = [5,6,7,8]

for i in new_list:
    print(i)

5
6
7
8

In [2]:
for i in 'list':
    print(i)

l
i
s
t

In [3]:
for i in range(3):
    print(i)

0
1
2

In [4]:
word  = iter('okay')

next(word)

'o'

In [5]:
next(word)

'k'

In [6]:
word = iter('bad')
next(*word)

TypeError: next expected at most 2 arguments, got 3

In [7]:
print(*word)

In [8]:
word

In [9]:
print(word)

<str_iterator object at 0x10c17da90>

In [10]:
word = 'bad'

In [12]:
it = iter(word)

In [13]:
print(*it)

b a d

In [19]:
new_dict = {'Patti':24,'Able':24,'Ken':24}

for x,y in new_dict.items():
    print(x,' ',y)

Patti   24
Able   24
Ken   24

In [21]:
list = [1,2,3,4]

new_list = enumerate(list)

In [24]:
print(new_list)

<enumerate object at 0x10c21c550>

In [27]:
new_list = [1,2,3]

okay = enumerate(new_list)

In [28]:
for x,y in okay:
    print(x,y)

0 1
1 2
2 3

In [41]:
x = ['a','b','c','d','e']
y =[1,2,3,4,5]

z = zip(x,y)

In [42]:
for x,y in z:
    print(x,y)

a 1
b 2
c 3
d 4
e 5

In [51]:
file = open('file.txt')

In [52]:
new = iter(file)

In [54]:
print(next(new))

This is first line

In [55]:
print(next(new))

This is second line

In [56]:
import pandas as pd

In [62]:
order = pd.read_csv('orders.csv', chunksize = 1000)

In [61]:
order.head()

,customer,products,sales_person,sales_region,sales_date,quarter,sales,costs
0,LONG ISLANDS INC,SOFT DRINKS,Michael Jackson,AMERICAS,4/13/12,Q2,24640,16999
1,LONG ISLANDS INC,SOFT DRINKS,Michael Jackson,AMERICAS,12/21/12,Q4,24640,13059
2,LONG ISLANDS INC,SOFT DRINKS,Michael Jackson,AMERICAS,12/24/12,Q4,29923,13826
3,LONG ISLANDS INC,SOFT DRINKS,Michael Jackson,AMERICAS,12/24/12,Q4,66901,18658
4,LONG ISLANDS INC,SOFT DRINKS,Michael Jackson,AMERICAS,12/29/12,Q4,63116,19949

In [63]:
result=[]

for chunk in order:
    result.append(sum(chunk['sales']))

total = sum(result)

print(total)

32062645

In [64]:
orders = pd.read_csv('orders.csv')

In [65]:
orders.sales.sum()

32062645

In [66]:
word= 'wonderful'

new_word = iter(word)

print(* new_word)

w o n d e r f u l