In [47]:
new_list = ['a','b','c']

for i in new_list:
    print (i)

a
b
c

In [48]:
for i in 'thisstring':= 'DA'

    print(i)

SyntaxError: invalid syntax (<ipython-input-48-8d7041304d9e>, line 1)

In [49]:
word = 'DA'
it = iter(word)

In [50]:
print(it)

<str_iterator object at 0x111157c50>

In [51]:
next(it)

'D'

In [52]:
next(it)

'A'

In [53]:
print(it)

<str_iterator object at 0x111157c50>

In [54]:
print(*it)

In [55]:
word = 'useful'
x = iter(word)
print(*x)

u s e f u l

In [56]:
new_list = [5,6,7,8]
x = enumerate(new_list)

In [57]:
print(x)

<enumerate object at 0x111155b90>

In [58]:
for a,b in x:
    print(a,b)

0 5
1 6
2 7
3 8

In [59]:
import pandas as pd

In [60]:
# Initialize an empty dictionary: counts_dict
counts_dict = {}

# Iterate over the file chunk by chunk
for chunk in pd.read_csv('tweets.csv',chunksize = 10):

    # Iterate over the column in DataFrame
    for entry in chunk['lang']:
        if entry in counts_dict.keys():
            counts_dict[entry] += 1
        else:
            counts_dict[entry] = 1

# Print the populated dictionary
print(counts_dict)

{'en': 97, 'et': 1, 'und': 2}

In [61]:
new_dict= {}

twt = pd.read_csv('tweets.csv',chunksize = 10)

In [62]:
for chunk in twt:
    for entry in chunk.lang:
        if entry in new_dict.keys():
            new_dict[entry] +=1
        else:
            new_dict[entry] = 1
print(new_dict)

{'en': 97, 'et': 1, 'und': 2}

In [63]:
tweet = pd.read_csv('tweets.csv')

tweet['lang']

0      en
1      en
2      et
3      en
4      en
5      en
6      en
7      en
8      en
9      en
10     en
11     en
12     en
13     en
14     en
15     en
16     en
17     en
18     en
19     en
20    und
21     en
22     en
23     en
24     en
25     en
26     en
27     en
28     en
29    und
     ...
70     en
71     en
72     en
73     en
74     en
75     en
76     en
77     en
78     en
79     en
80     en
81     en
82     en
83     en
84     en
85     en
86     en
87     en
88     en
89     en
90     en
91     en
92     en
93     en
94     en
95     en
96     en
97     en
98     en
99     en
Name: lang, Length: 100, dtype: object

In [64]:
new_list = [5,6,7,8,9]

In [65]:
add_one = []
for i in new_list:
    add_one.append(i+1)
    
print(add_one)

[6, 7, 8, 9, 10]

In [66]:
add_two = [i + 2 for i in new_list]

In [67]:
print(add_two)

[7, 8, 9, 10, 11]

In [68]:
lt = []
for i in range(11):
    lt.append(i)
    
print(lt)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
[i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
pair = []

for x in range(5):
    for y in range(6):
        pair.append((x, y))

print(pair)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5)]

In [72]:
pairs_1 = []
for num1 in range(0, 2):
    for num2 in range(6, 8):
        pairs_1.append((num1, num2))

print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [76]:
[(x,y) for x in range(2) for y in range(2)]

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [78]:
[x**2 if x%2 ==0 else 0 for x in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [83]:
[x**2 for x in range(10)]

SyntaxError: invalid syntax (<ipython-input-83-18ff3064ae44>, line 1)